<% crypto_array = ["xtz", "waves", "usdt", "mkr", "lsk", "etc", "btc", "bat", "atom", "ada"] %>
<% taken_top_num = [] %>
<% taken_left_num = [] %>

<div class="wrapper">

  <div style="position: relative;">
    <div class="cursor"></div>
    <div class="shapes">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
    </div>
    <div class="content">
      <h1>SimpleCryptos</h1>
          <% crypto_array.each do |logo| %>
          <% top = ([*5..95] - [*30..64] - taken_top_num).sample %>
          <% left = ([*10..90] - taken_left_num).sample  %>
            <%= cl_image_tag "SimpleCryptos/#{logo}-md", class:"background-logo", style:"position:absolute; top: #{ top }%; left: #{ left }%" %>

            <% taken_top_num.push([*top - 2..top + 2]) %>
            <% taken_top_num.flatten! %>

            <% taken_left_num.push([*left - 2..left + 2]) %>
            <% taken_left_num.flatten! %>


          <% end %>
    </div>




  </div>



  <div class="container">


    <%= cl_image_tag 'SimpleCryptos/info' %>
    <%= cl_image_tag 'SimpleCryptos/search' %>
    <%= cl_image_tag 'SimpleCryptos/global' %>
    <%= cl_image_tag 'SimpleCryptos/head' %>
    <%= cl_image_tag 'SimpleCryptos/card' %>
    <%= cl_image_tag 'SimpleCryptos/chart1' %>
    <%= cl_image_tag 'SimpleCryptos/chart2' %>
  </div>
</div>




<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
<script>
  document.body.addEventListener("mousemove", evt => {
  const mouseX = evt.clientX;
  const mouseY = evt.clientY;

  gsap.set(".cursor", {
    x: mouseX,
    y: mouseY
  })

  gsap.to(".shape", {
    x: mouseX,
    y: mouseY,
    stagger: -0.1
  })
})
</script>
